<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
    <!-- CSS from file -->
    <link rel="stylesheet" type="text/css" href={% static "urlShortApp/css/style.css" %}>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JS from file -->
    <link rel="stylesheet" type="text/JS" href={% static "urlShortApp/js/main.js" %}>
    <title>{% block title %}URL Shortener{% endblock %}</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
</head>

<body class="text-center">
<div class="container">
<nav class="row fixed-top navbar navbar-expand-lg navbar-light bg-light">
  <ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %} 
  </ul>
</nav>

    <main class="row form-signin shadow p-3 bg-white rounded">
    {% block content %}{% endblock %}
    </main>

    <div id="footer">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </div>

</div>
</body>
</html>